[submodule "frontend"]
	path = frontend
	url = git@github.com:sudiptog81/mlh-orihack-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:sudiptog81/mlh-orihack-backend
	branch = main
